<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>API Intro (simple heroku Deploy)</title>
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>API Intro (simple heroku Deploy)</h1>
    <div ng-controller='tuesdayController'>
      <input type="text" ng-model='movieIn' value="" placeholder="Movie?">
      <button ng-click='movieSearch()'>Search for Movie</button>
      <h2>Your movie:</h2>

      <div ng-repeat='search in everySearch'>
        <img ng-src='{{search.posterURL}}' />
        <p>{{ search.title }}({{ search.year }}), Director: {{ search.director }}</p>
      </div>
    </div>
  </body>
</html>
